@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

:root {
  /* Font sizes */
  --font-size-3xl: 4.3rem; /* 68.8px */
  --font-size-2xl: 2.98rem; /* 47.68px */
  --font-size-xl: 1.73rem; /* 27.68px */
  --font-size-lg: 1.44rem; /* 23.04px */
  --font-size-md: 1.2rem; /* 19.2px */
  --font-size-sm: 1rem; /* 16px */

  /* Font famaliy */
  --font-poppins: "Poppins", sans-serif;
  --font-sofia-sans: "Sofia Sans", sans-serif;

  /* Font weight */
  --font-bold: bold;
  --font-semibold: 600;

  /* spacing */
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-80: 80px;
  --space-120: 120px;
  --space-160: 160px;

  /* Colors */
  --col-white: #fff4f0;
  --col-white-nuances: #fdebe9;
  --col-black: #301824;
  --col-black-nuances: #4c3943;
  --col-highlight: #ff92ac;
  --col-highlight-nuances: #fa5d81;

  /* Product colors */
  --col-dusty-rose: #de9498;
  --col-cream-linen: #e9e0de;
  --col-sage-green: #87937c;
  --col-lavender-mist: #dfb9e6;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
  color: var(--col-black);
  line-height: 110%;
}

h2 {
  font-size: var(--font-size-2xl);
}

p {
  font-family: var(--font-sofia-sans);
  color: var(--col-black-nuances);
  line-height: 150%;
}

html {
  background-color: var(--col-white);
}

body {
  max-width: 1440px;
  margin-inline: auto;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: var(--font-poppins);
  color: var(--col-black);
}

.btn {
  font-size: var(--font-size-lg);
  font-weight: 600;
  line-height: 100%;
  background-color: var(--col-highlight);
  border-radius: 16px;
  padding: var(--space-24);
}

/* Hero secktion ---------------------------------------------------------------------*/
.hero {
  background-image: url(../img/background/background-images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--col-white);
  padding: var(--space-80);
  padding-top: var(--space-40);
}

.hero-logo {
  display: block;
  margin-inline: auto;
  margin-bottom: var(--space-80);
}

/* The combine of all info EXCEPT logo */
.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
}

.hero-content-about {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  max-width: 843px;
}

.hero-content-title {
  font-size: var(--font-size-3xl);
  color: var(--col-white);
  text-transform: capitalize;
}

.hero-content-text {
  color: var(--col-cream-linen);
  font-size: var(--font-size-md);
}

/* The shop icon with price */
.hero-cta {
  display: flex;
  gap: var(--space-12);
}

.hero-cta-price {
  font-size: var(--font-size-2xl);
  color: var(--col-white);
  font-weight: bold;
  font-family: var(--font-poppins);
}

/* heros social trust  */
.hero-social {
  background-color: var(--col-white);
  padding: var(--space-12);
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: var(--space-8);
  max-width: 405px;
}

.hero-social-submitet {
  font-size: var(--font-size-lg);
  font-weight: bold;
  font-family: var(--font-poppins);
  color: var(--col-black);
}

/* Benefits ---------------------------------------------------------------------*/

.benefit {
  margin: var(--space-160) 0px;
}

.benefit-title {
  text-align: center;
  margin-bottom: var(--space-80);
}

.benefit-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-80);
}

/* Eatch of the benefits box with its icons and info  */
.benefit-content-box {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  text-align: center;
  max-width: 500px;
}

.benefit-content-box-icon {
  width: 48px;
  margin-inline: auto;
}

.benefit-content-box-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.benefit-content-box-title {
  font-size: var(--font-size-xl);
}

/* use-of-product ---------------------------------------------------------------------*/

.product-use {
  margin: var(--space-160) 0px;
}

.product-use-title {
  text-align: center;
  margin-bottom: var(--space-80);
}

.product-use-box {
  background-color: var(--col-white-nuances);
  display: flex;
}

.product-use-box-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-32);
  padding: 0 var(--space-80);
}

.product-use-box-info-title {
  font-size: var(--font-size-xl);
}

.product-use-box-figure {
  width: 50%;
}

.product-use-box-img {
  width: 100%;
  height: 100%;
}

/* use-of-product ---------------------------------------------------------------------*/

.product {
  margin: var(--space-160) 0px;
}

.product-title {
  text-align: center;
  font-size: var(--font-size-3xl);
  margin-bottom: var(--space-40);
}

/* Helps place the cards and main img in a correct layout */
.product-container {
  display: flex;
  align-items: center;
}

.product-container-functions {
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
}

.product-image {
  width: 100%;
}

/* For eviduel card design/layout */
.product-card {
  padding: var(--space-16);
  border: 2px solid var(--col-black);
  border-radius: var(--space-16);
  width: 404px;
}

.product-card-info {
  display: flex;
  gap: var(--space-16);
  margin-bottom: var(--space-16);
}

.product-card-info-icon {
  width: var(--space-32);
}

.product-card-info-title {
  font-size: var(--font-size-lg);
}

/* use-of-product ---------------------------------------------------------------------*/

.mobile-app {
  margin: var(--space-160) 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-40);
}

.mobile-app-title {
  font-size: var(--font-size-3xl);
}

.mobile-app-container-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  margin-bottom: var(--space-80);
  max-width: 732px;
}

.mobile-app-container-info-desc {
  font-size: var(--font-size-md);
}

.mobile-app-img {
  width: 405px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--col-white-nuances);
  padding: var(--space-40) var(--space-80);
}

/* product color  ---------------------------------------------------------------------*/

.product-color {
  background-color: var(--col-white-nuances);
  margin: var(--space-160) 0px;
  display: flex;
  padding: var(--space-160) var(--space-80);
  position: relative;
}

.product-img {
  z-index: 1;
  display: flex;
  width: 50%;
}

.product-img-selecter {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.product-color-img {
  width: 150px;
  height: 150px;
  border: 2px solid var(--col-black);
  border-radius: var(--space-8);
}

.product-color-img.select {
  border-width: 4px;
  /* background-color: var(--col-highlight); */
}

.product-img-slected {
  width: 100%;
}

.product-color-info {
  z-index: 1;
  padding: var(--space-40);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-color-info h2 {
  text-align: center;
  margin-bottom: var(--space-16);
}

/* Backgournd img */

.product-color-bg-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.product-color-bg-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.product-color-info-buttons {
  display: flex;
  justify-content: center;
  gap: var(--space-80);
}

.product-color-info-buttons button {
  background-color: #301824;
  width: 60px;
  height: 60px;
  border: 2px solid var(--col-black);
  border-radius: 999px;
}

.product-color-info-buttons.selected button {
  width: 100px;
  height: 100px;
}

#dusty-rose {
  background-color: var(--col-dusty-rose);
}
#cream-linen {
  background-color: var(--col-cream-linen);
}
#sage-green {
  background-color: var(--col-sage-green);
}
#lavender-mist {
  background-color: var(--col-lavender-mist);
}

/* Gallery  ---------------------------------------------------------------------*/






/* Testimonial  ---------------------------------------------------------------------*/

.testimonial {
  margin: var(--space-120) 0;
}

.testimonial h2 {
  margin-bottom: var(--space-160);
  text-align: center;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 405px);
  grid-auto-rows: 1fr;
  place-items: center;
  justify-content: center;
  gap: var(--space-120) var(--space-32);
}

.testimonial-card {
  position: relative;
  background-color: var(--col-white-nuances);
  /*  width: 405px; */
  height: 100%;
  text-align: center;
  padding-inline: var(--space-16);
  padding-bottom: var(--space-32);
  padding-top: var(--space-80);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-32);
  border: 2px solid var(--col-black-nuances);
  border-radius: var(--space-16);
}

.testimonial-card h3 {
  margin-bottom: var(--space-16);
}

.testimonial-card-quote {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -40px;
}

.testimonial-card-pic {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top: -50%;
  margin-top: 75px;
  z-index: 1;
}

/* Last CTA  ---------------------------------------------------------------------*/

.last-cta {
  margin-top: var(--space-120) 0;
  margin: var(--space-160), 0;
  background-image: url(../img/background/background-images/cta-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--col-white);
  padding: var(--space-160);
}

.last-cta h2 {
  font-size: var(--font-size-3xl);
  max-width: 800px;
  margin-inline: auto;
  color: inherit;
  margin-bottom: var(--space-16);
}
.last-cta p {
  color: inherit;
}

.last-cta-container {
  text-align: center;
}

.last-cta-container-info {
  margin-bottom: var(--space-80);
}

/* FAQ  ---------------------------------------------------------------------*/

.faq {
  margin: var(--space-160);
}

.faq h2 {
  text-align: center;
  margin-bottom: var(--space-40);
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
}

.faq-question-title {
  display: flex;
  justify-content: space-between;
}

.faq-question {
  background-color: var(--col-white-nuances);
  padding: var(--space-32) var(--space-24);
  border: 2px solid var(--col-black);
  border-radius: var(--space-8);

  display: flex;
  flex-direction: column;
  gap: var(--space-40);
}

.faq-question h3 {
  font-size: var(--font-size-lg);
}

.faq-question-info {
  display: none;
}

.faq-question-info.open {
  display: block;
}
